# Redis Configuration
REDIS_URL=redis://localhost:6379

OPENSEARCH_URL="https://localhost:9200"
OPENSEARCH_USERNAME="elkadmin"
OPENSEARCH_PASSWORD="password"
MAX_QUERY_TIME="30"
PORT="5001"

# Descope API Configuration
DESCOPE_API_URL="https://api.descope.com/v1/mgmt/user/search"
DESCOPE_BEARER_TOKEN="your_bearer_token"

# Google Sheets Configuration
GOOGLE_SHEET_ID="your_sheet_id"
